.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



@theme {
--color-clifford: #da373d;
}



/* primary style */

.display-flex{
  display: flex;
}


/* nav bar */

.cart-image{
  width: 24px;
  height: 24px;
}
.navbar{
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}
.cart-style{
  gap: 10px;
}
.nav-links{
  gap: 48px;
}
.nav-item a{
  gap: 48px;
}
.home{
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
}

/* Fresh Flower Container */
.flower-container{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 120px;
  justify-content: center;
  align-items: flex-end;
  height: 461px;
}
.flower-container img{
  align-items: flex-end;
}
.text{
  color: rgba(0, 0, 0, 0.5);
}
.flower-hp{
  max-width: 100%;
  height: auto;
  align-items: flex-end;
}

/* Our planta section */

.plants-description{
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  margin: 16px auto;
  text-align: center;
}
.plants-container{
  width: 1140px;
  margin: 120px auto 0;
  text-align: center;
}

/* Card style section */
.card-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 49px 150px;
  row-gap: 30px;
}
.card-container{
  width: 270px;
  height: 484px;
  text-align: center;
}
.card-image{
  width: 270px;
  height: 322px;
}
.card-btn{
  background-color: #E95A08;
  padding: 15px 80px;
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}
/* Flower Plants Lover */
.flower-card{
  display: flex;
  width: 1140px;
  height: 597px;
  gap: 60px;
  margin: 210px 150px 0;
}
.flower-card-first{
  position: relative;
}
.flower-list{
  margin-top: 40px;
  margin-left: 40px;
}
.flower-store{
  width: 540px;
  height: 570px;
}
.flower-badge{
  width: 286px;
  height: 286px;
  position: absolute;
  top: -120px;
  right: -100px;
  box-shadow: -4 10 4 0 rgba(0, 0, 0, 0.25);
}
.text-section{
  color: rgba(0, 0, 0, 0.5);
}


/* Latest Deals section */
.deal-description{
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  text-align: center;
  margin: 16px auto 80px;
}
.deal-title{
  text-align: center;
  margin-top: 130px;
}
.deal-container{
  background-image:linear-gradient(rgba(0, 0, 0, 0.4)) ,url(assets/deal-bloom.png);
  background-size: cover;
  width: 367px;
  height: 201px;
  background-position: center;
  border-radius: 14px;
  position: relative;
  margin: 60px 28px 25px 146px;
}
.deal-container2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(assets/deal-ana.png);
  background-size: cover;
  width: 367px;
  height: 201px;
  background-position: center;
  border-radius: 14px;
  position: relative;
  margin: 0 28px 120px 146px;
}
.deal-container3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(assets/deal-zabo.png);
  background-size: cover;
  width: 753px;
  height: 423px;
  background-position: center;
  border-radius: 22px;
  margin-top: 60px;
}
.deal-contents{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 172px 128px 151px;
}
.deal-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 70px;
}
.all-deal-items{
  display: flex;
  margin-top: 80px;
}

/* media query for small device */
@media screen and (max-width: 768px) {
  .navbar{
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 16px 0 16px;
  }
  .logo-image{
    width: 63px;
    height: 38px;
  }
  .flower-container{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 28px auto 0;
  }
  .flower-hp{
    margin: 20px 16px;
  }
  .flower-hp p{
    font-size: 0.875rem;
  }
  .flower-hp h2{
    font-size: 1.5rem;
  }
  .plants-container{
    /* width: 100%;
    max-width: none; */
    width: 361px;
  }
  .plants-description{
    width: 336px;
  }
  .card-content{
    grid-template-columns: repeat(2, 1fr);
    margin: 28px 14px;
  }
  .card-container{
    width: 171px;
  }
  .card-image{
    width: 171px;
    height: 195px;
  }
  .card-btn{
    width: 171px;
    height: 50px;
    padding: 15px 30px;
  }
  .flower-card{
    flex-direction: column;
    margin: 41px 18px 18px 17px;
    max-width: 100%;
  }
  .flower-store{
    width: 358px;
    height: 397px;
    margin-left: 5px;
  }
  .flower-badge{
    display: none;
  }
  .flower-card-title{
    font-size: 1.5rem;
    width: 361px;
    margin-left: 10px;
  }
  .flower-list{
    width: 361px;
    height: 250px;
    font-size: 14px;
    margin-left: 20px;
  }
  .flower-box{
    width: 361px;
    padding-bottom: 20px;
    margin-top: -60px;
  }
  .flower-card-first{
    width: 361px;
  }
  .all-deal-items{
    flex-direction: column;
  }
  .deal-title h3{
    font-size: 24px;
    margin-top: 300px;
  }
  .deal-title p{
    font-size: 14px;
    width: 336px;
    height: 68px;
  }
  .deal-container, .deal-container2, .deal-container3{
    width: 361px;
    height: 180px;
    margin: 20px auto 0;
  }
  .deal-contents h3{
    font-size: 20px;
  }
  .deal-contents p{
    font-size: 1rem;
  }
  .deal-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 42px 35px 69px;
  }
  .deal-container{
    margin-top: -30px;
  }
  .deal-container3{
    margin-bottom: 20px;
  }
}